.game-board {
  display: grid;
  width: 330px;
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, auto);
  border: 1px solid green;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid limegreen;
  line-height: 100px;
  text-align: center;
  font-size: 2em;
}